<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8867917630-c945vhooiv0bds5f6ipcu0m5sk8g3riu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8867917630-c945vhooiv0bds5f6ipcu0m5sk8g3riu</string>
	<key>API_KEY</key>
	<string>AIzaSyCzr1aWaehnqqSGkj8BN3ewnxNezR2ZoKA</string>
	<key>GCM_SENDER_ID</key>
	<string>8867917630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhaw.hartslag</string>
	<key>PROJECT_ID</key>
	<string>hartslag-zhaw</string>
	<key>STORAGE_BUCKET</key>
	<string>hartslag-zhaw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8867917630:ios:525f31eda2040e8e1a466f</string>
	<key>DATABASE_URL</key>
	<string>https://hartslag-zhaw.firebaseio.com</string>
</dict>
</plist>